@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #fbc3df 0%, #fe78c0 100%);
  min-height: 100vh;
}

@keyframes float {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-20vh) scale(0.5);
    opacity: 0;
  }
}

.hearts-container {
  z-index: 0;
}

.heart {
  font-size: 24px;
  z-index: -1;
}